/**global colors**/
$primary: #b28e37;
$secondary: #43242A;
$white: white;
$black: black;
$grey: #F7F1E9;
$darkerGrey: #363636;
$lighterGrey: #eeeeee;
$active: #7ab943;
$add: #487c1b;
$subtract: #701a1a;
$transparent: rgba(0, 0, 0, 0);
$gradient: radial-gradient(circle, rgba(84, 84, 84, 1) 0%, rgba(40, 40, 40, 1) 96%);
//.... ad as many color you need